{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
<h1 class="mb-5">All Movies</h1>
<p class="mb-3">See our list of movie ratings below</p>
<!-- TODO: Feature 1 -->
<!-- {{ submissions }} -->
<table>
    <tr>
        <th>
            Movie Name
        </th>
        <th>
            Director
        </th>
        <th>
            Rating
        </th>
    </tr>
    {% for submission in submissions %}
        <tr>
            <td>
                {{ submission.title }}
            </td>
            <td>
                {{ submission.director }}
            </td>
            <td>
                {{ submission.rating }}
            </td>
        </tr>
    {% endfor %}
</table>




{% endblock %}
